{% extends 'core/base.html' %}


{% block hero %}
<section class="section hero" aria-label="home">
    <div class="container">

      <div class="hero-banner">
        <figure class="img-holder mobile" style="--width : 300; --height:300;">
          <img src="{% static 'assets/images/image-web-3-mobile.jpg' %}" width="300" height="300" alt="hero-banner" class="img-cover">
        </figure>
        
        <figure class="img-holder desktop" style="--width : 300; --height:300;">
          <img src="{% static 'assets/images/image-web-3-desktop.jpg' %}" width="300" height="300" alt="hero-banner" class="img-cover">
        </figure>
      </div>
      
      <div class="hero-content">

        <h1 class="h1 hero-title">
          The Bright<br> 
          Future of Web 3.0?
        </h1>


        <div class="wrapper">

            <p class="hero-subtext">
                We dive into the next evolution of the web that claims 
                to put the power of the platforms back into the hands 
                of the people. But is it really fulfilling its promise?
            </p>

            <a href="#" class="btn btn-primary">Read more</a>

        </div>

      </div>
    </div>
</section>
{% endblock hero %}